{% extends 'account/base.html' %}

{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load account %}
{% load i18n %}

{% block content %}

<h3>{% trans "Password Reset" %}</h3>

{% if user.is_authenticated %}
{% include 'account/snippets/already_logged_in.html' %}
{% endif %}

<p>
  {% blocktrans %}Forgotten your password? Enter your e-mail address below, and we'll send
  you an e-mail allowing you to reset it.{% endblocktrans %}
</p>

<form
  method="POST"
  action="{% url 'account_reset_password' %}"
  class="password_reset"
>
  {% csrf_token %}
  {% crispy_field form.email %}
  {% for error in form.email.errors %}
  <span
    id="error_{{ forloop.counter }}_{{ field.auto_id }}"
    class="invalid-feedback"
  >
    <strong>{{ error }}</strong>
  </span>
  {% endfor %}
  <small class="text-muted">
    {% blocktrans %}Please contact us if you have any trouble resetting your
    password.{% endblocktrans %}
  </small>
  <hr>
  <button
    type="submit"
    class="btn btn-dark"
  >{% trans "Reset my password" %}</button>
</form>

{% endblock %}
